# Backup files
\#*
*~
*.bak

# Object files
*.obj
*.o

# Executables
*.exe

# Attempted things that didn't pan out
hello_c.asm
hello_wb.asm
add2-expt.asm
add2-proc.asm
tries/**

cpu_scheduler_simulator/**